
body {
    margin: 0;
    line-height: normal;
}


:root {
    
    /* fonts */
    --regular-5: Whyte;
    --sf-subheadline-semibold: 'SF Pro Text';
    
    /* font sizes */
    --bold-4-size: 14px;
    --regular-5-size: 12px;
    --medium-3-size: 16px;
    --sf-subheadline-semibold-size: 15px;
    
    /* Colors */
    --color-white: #fff;
    --basic-dark-000000: #000;
    --primary-base: #04a7ec;
    --grey-100: #eaedf4;
    --black-50: #2b2b40;
    --black-base: #01001a;
    --black-30: #80808c;
    --grey-40: #f6f6f6;
    --grey-base: #f1f1f1;
    
    /* Gaps */
    --gap-mid: 17px;
    
    /* Border radiuses */
    --br-9xs: 4px;
    
}